<!DOCTYPE html>
<html>
<head>
  <title>MessageBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<<<<<<< HEAD
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
=======
>>>>>>> 9a909a71b27422425eae3de58167eded4318f3cc
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
    <nav class="navbar">
  <div class="container">
    <% if notice %>
      <div class="alert alert-info">
        <%= notice %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
=======

<%= yield %>

</body>
</html>
>>>>>>> 9a909a71b27422425eae3de58167eded4318f3cc
